@import '../../config/styles/index.scss';

.video {
    display: flex;
    flex-grow: 1;
    margin: 6 * $base-unit;
    margin-top: 0;
    border-radius: $base-unit;
    box-shadow: $shadow-primary;
    overflow: hidden;
}

@media only screen and (max-width: 414px) {
    .video {
        margin: $base-unit;
    }
}