@import '../../config/styles/index.scss';

.calendar-container {
    display: flex;
    margin: 6 * $base-unit;
}

.calendar {
    width: calc(50vw - #{12 * $base-unit});
    padding-bottom: 12px;
    border: none;
    border-radius: $base-unit;
    box-shadow: $shadow-primary;
}

.tile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    width: 5vw;
    height: 4vw;
    margin-left: 10px;
    background: $bg-primary-light;
    cursor: pointer;
}

.tile-icons {
    display: 'flex';
    justify-content: space-evenly;
}
