@import '../../config/styles/index.scss';

.calendar {
    // width: calc(50vw - #{12 * $base-unit});
    width: calc(100% - #{12 * $base-unit});
    margin: 6 * $base-unit;
    padding-bottom: 12px;
    border: none;
    border-radius: $base-unit;
    box-shadow: $shadow-primary;
}

.tile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    min-height: 12 * $base-unit;
    max-height: 150 * $base-unit;
    background: $bg-primary-light;
    border-radius: $base-unit;
    cursor: pointer;
}

.tile-icons {
    display: 'flex';
    justify-content: space-evenly;
}
