$base_unit: 4px;

$bg-primary-light: hsl(0, 0%, 96%);
$bg-primary-dark: rgb(225, 59, 30);

$bg-secondary-light: #616161;
$bg-secondary-dark: #373737;

$bg-emphasis: hsl(0, 0%, 93%);

$text-primary-dark: #373737;
$text-primary-light: white;

$text-secondary-dark: rgb(225, 59, 30);

$shadow-primary: 0 2px 5px gray;

$display-font: 'Monoton', cursive;
$primary-font: 'Roboto', sans-serif;
