@import '../../config/styles/index.scss';

// TODO: Refactor to BEM

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

.card-data ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.landing {
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding-left: 8 * $base-unit;
    background: linear-gradient($bg-secondary-light, $bg-secondary-dark);
    background-image: url('../../assets/images/main-bg.jpg');
    background-position-y: 50px;
    background-position-x: 50%;
    background-size: cover;
    animation: fadein 2s;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    animation: fadein 2s, slidein 1s;
}

.header-1 {
    margin-bottom: -6 * $base-unit;
    color: $text-primary-light;
    font-family: $display-font;
}

.header-2 {
    color: $text-secondary-dark;
    font-family: $display-font;
    font-size: 40px;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: $bg-primary-light;
}

.down-button {
    display: flex;
    justify-content: center;
    margin-top: -6 * $base-unit;
}

.lower-container {
    display: grid;
    grid-template-areas:
        'calendar announcements'
        'calendar parents'
        'video other-stuff'
        'video wod';

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 315px);
    grid-column-gap: 6 * $base-unit;
    grid-row-gap: 6 * $base-unit;
    padding: 6 * $base-unit;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 660px;
    min-height: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    overflow: visible;

    &--announcements {
        @extend .card;
        grid-area: announcements;
    }

    &--parents {
        @extend .card;
        grid-area: parents;
        align-self: end;
    }

    &--other-stuff {
        @extend .card;
        grid-area: other-stuff;
    }

    &--wod {
        @extend .card;
        grid-area: wod;
        align-self: end;
    }
}

.card-reverse {
    flex-direction: row-reverse;
}

.card-data {
    height: 100%;
    overflow-y: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    min-height: 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40 * $base-unit;
    max-width: 100%;
    padding: 4 * $base-unit;
    background: $bg-emphasis;
    border-radius: 0 $base-unit $base-unit 0;
}

.card-title {
    color: $text-secondary-dark;
    font-size: 5 * $base-unit;
    font-family: $primary-font;
}

.icon {
    color: $text-secondary-dark;
    transform: scale(2);
}

.home-card__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wod__data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 0;
    padding: 4 * $base-unit;
    overflow-y: auto;
}

.wod__data--wrapper {
    margin-top: 6 * $base-unit;
}

.wod__data--align {
    display: flex;
    flex-wrap: wrap;
    margin: 6 * $base-unit;
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .lower-container {
        display: grid;
        grid-template-areas:
            'calendar'
            'announcements'
            'parents'
            'other-stuff'
            'wod'
            'video';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 350px) auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .landing {
        justify-content: center;
        min-height: 30vh;
        padding: 0;
        background: url('../../assets/images/main-bg.jpg');
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .lower-container {
        padding: 3 * $base-unit;
    }

    .card {
        flex-direction: column-reverse;
    }

    .card-info {
        flex-direction: row;
        justify-content: flex-start;
        min-height: 0;
        padding-left: 6 * $base-unit;
    }

    .card-title {
        margin-left: 6 * $base-unit;
    }
}

@media only screen and (max-width: 414px) {
    .landing {
        justify-content: center;
        min-height: 30vh;
        padding: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
            url('../../assets/images/main-bg.jpg');
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .header-1 {
        margin-bottom: -6 * $base-unit;
    }

    .header-2 {
        font-size: 28px;
    }

    .down-button {
        display: none;
    }

    .card {
        flex-direction: column-reverse;
        margin: 2 * $base-unit $base-unit;
    }

    .card-info {
        flex-direction: row;
        flex-grow: 1;
    }

    .card-title {
        display: flex;
        flex-grow: 1;
    }
}
