@import '../../config/styles/index.scss';

.card-list-item {
    font-family: $primary-font;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 2 * $base-unit;
    border-radius: $base-unit;
    overflow: hidden;
}

.card-list-item__edit {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
}

.card-list-item__text {
    margin-left: 8 * $base-unit;
    color: gray;
}

.card-list-item p {
    margin: $base-unit;
}

.card-list-item a {
    color: #0000ff;
    text-decoration: underline;
}

@media only screen and (max-width: 414px) {
    .card-list-item {
        align-items: flex-start;
    }

    .card-list-item__avatar {
        display: none;
    }

    .card-list-item__text {
        margin: 0
    }
}