/* Define global styles for elements that are not React components */

html,
body {
    min-width: 100vw;
    height: 100vh;
    margin: 0;
    background: #373737;
    overflow-x: hidden;
}

#root {
    min-width: 100%;
    height: 100%;
}
