@import '../../config/styles/index.scss';

.course-section__container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-template-areas:
        'file-grid links'
        'file-grid file-preview';
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 40% 60%;
    max-width: 100%;
    height: calc(100vh - #{$header-height + 6 * $base-unit});
    padding-top: 6 * $base-unit;
    padding-left: 6 * $base-unit;
    background: $bg-primary-light;
}

.course-section__column {
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 480px;
    align-self: stretch;
    height: calc(100vh - #{$header-height + 6 * $base-unit});
}

.course-section__column:nth-child(2) {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 40% 60%;
}

@mixin course-section__card {
}

.course-section__card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 580px;
    align-self: stretch;
    margin-top: 0;
    margin-left: 0;
    height: calc(100% - #{6 * $base-unit});

    &--file-grid {
        @extend .course-section__card;
        grid-area: file-grid;
    }

    &--links {
        @extend .course-section__card;
        grid-area: links;
        height: calc(100% - 24px);
    }

    &--file-preview {
        @extend .course-section__card;
        grid-area: file-preview;
        height: calc(100% - 24px);
        overflow: hidden;
    }
}

.course-section__card-title {
    margin-left: 6 * $base-unit;
    color: $text-secondary-dark;
    font-size: 5 * $base-unit;
    font-family: $primary-font;
}

.course-section__card__edit-tools {
    position: absolute;
    top: 0;
    right: 0;
}

.course-section__dropzone {
    height: 300px;
    background: $bg-emphasis;
    outline: none;
}

.course-section__dropzone:hover {
    opacity: 0.7;
}

.course-section__dropzone--drag {
    height: 175px;
    background: $bg-emphasis;
    background-color: rgba(0, 255, 0, 0.4);
}

.course-section__dropzone-title {
    display: flex;
    justify-content: space-between;
}

.course-section__dropzone--files-list {
    height: calc(100% - (#{2 * $base_unit} + 4px));
}

.course-section__dropzone-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - (#{2 * $base_unit} + 4px));
    margin: $base_unit;
    border: 2px dashed $text-secondary-dark;
    border-radius: $base_unit;
}

.course-section__file-grid-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-section__file-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - #{8 * $base_unit});
    height: 90%;
    margin: 4 * $base_unit;
    padding-top: 8 * $base_unit;
}

.course-section__file-preview--default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.course-section__file-preview__fullscreen-button {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: $base-unit;
}

.course-section__file-grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 110px;
    font-family: $primary-font;
    font-size: 10px;
    color: $text-primary-dark;
}

.course-section__file-grid-item__name {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.course-section__file-preview-fullscreen {
    min-width: 50vw;
    height: 90vh;
}

.course-section__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.course-section__links-card-title {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .course-section__container {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        grid-template-areas:
            'file-grid'
            'file-preview'
            'links';
        grid-template-columns: 1fr;
        grid-template-rows: minmax(350px, 1fr);
        height: auto;
    }

    .course-section__card--links {
        height: 350px;
    }

    .course-section__card--file-preview {
        height: auto;
        height: 500px;
        overflow: hidden;
    }
}
