@import '../../config/styles/index.scss';

.syllabus__container {
    position: relative;
    width: 100%;
    height: calc(100vh - #{15 * $base-unit});
    background: linear-gradient($bg-secondary-light, $bg-secondary-dark);
    overflow-y: hidden;
}
